		

<!-- USER REGISTER AREA -->
<article>
		<span>Sign Up</span>
			<form action="/newuser" method="post">
				<input type="text" name="name" placeholder="Your name" required>
				<input type="password" name="password" placeholder="Your password" required>
				<input type="text" name="handle" pattern="^@[a-zA-Z0-9]+$" placeholder="@Yourhandle" required>
				<br>
				<input type="submit" value="Join us">
			</form>
		<h2>Users registered</h2>
		<ol>
			<% if @users_list.length > 0 %>
				<% @users_list.each do |user| %>

					<% name = user.name %>
					<% password = user.password %>
					<% handle = user.handle %>

					<li><strong>User &rArr; </strong><%= "#{name} |#{handle}|" %></li>
				<% end %>
			<% end %>
		</ol>
		<br>
</article>
<!-- THE WALL -->
<section>
	<article>
		<form action="/newshout" method="post" id="shout">

			<select name="user_id" form="shout">
				<% if @users_list.length > 0 %>
					<% @users_list.each do |user| %>
						<% handle = user.handle %>
						<option value="<%= user.id %>"><%= handle%></option>
					<% end %>
				<% end %>
			</select>		
			<input type="password" name= "passtoshout" placeholder="Your password">
			<br>
			<textarea name="message" maxlength="200" style= "height: 100px; width: 300px;" required>
			</textarea>

			<input type="submit" value="Shout this">
		</form>
	</article>

<!-- SHOW WALL -->

	<article>
		<% if @wall.length > 0 %>
			<h2>Shouts wall</h2>
			<% @wall.each do |text| %>

				<% message = text.message %>
				<% creating_at = text.created_at %>
				<% id_shout = text.id %>

				<p><%= "#{message}" %> <span><%= text.likes%></span>
				<form action="/likes" method="post"><input type="hidden" name="likes" value=<%= id_shout %> ><input type="submit" value="Like it"></form></p>
				<p><%= "(#{creating_at})" %></p>
				<hr>
			<% end %>
		<% end %>

	</article>
		
</section>